.gallery{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.gallery:hover {
    border: 1px solid #777;
  }
  .gallery img{
    width: 100%;
  }
  
#navBar a{
    font:bolder;
    font-size: x-large;
    opacity: 1;
    font-size: 22px;
  }
  #navBar a:hover{
    color: green;
    background-color: white;
  }